@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-color: lightgray;
}

header{
    background-color: gray;
}

header h1{
    padding: 10px;
    text-align: center;
}

#burguer{
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

header ul{
    list-style-type: none;
}

menu a{
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: rgb(65, 65, 65);
    color: white;
    border-top: 2px solid gray;
}

menu a:hover{
    background-color: rgb(0, 0, 0);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

main h2{
    padding-bottom: 20px;
}

main p{
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 10px;
}